<h1 style="font-size:45px; font-weight:bold; color:blue"> FONDAMENTAUX DU LANGAGE PYTHON</h1>

Par Mamadou NDIAYE

# Listes

Les listes peuvent contenir plusieurs types de données (chaînes de caractères, entiers naturels, nombres décimaux, dictionnaires, dataframes, listes, etc.). Les listes sont définies par : [ ].

In [8]:
# Exemple de liste avec []
liste = [19, 'SDakar', 7.5, 'neige', ['riz', 'tomate', 'banane']]
liste

[19, 'SDakar', 7.5, 'neige', ['riz', 'tomate', 'banane']]

In [9]:
# Premier élément d'une liste
print(liste[0])

# Dernier élément d'une liste
print(liste[-1])
print(liste[-1] == liste[4])

19
['riz', 'tomate', 'banane']
True

In [10]:
# Méthode append permet d'ajouter un élément à la fin d'une liste
liste.append(5)
liste

[19, 'SDakar', 7.5, 'neige', ['riz', 'tomate', 'banane'], 5]

In [11]:
my_list = []
for i in range(10):
    squared = i**2
    my_list.append(squared)
my_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Le code ci-dessus peut être écrit en une seule ligne avec une liste de compréhension

In [12]:
# Création d'une liste de compréhension
my_list2 = [i**2 for i in range(10)]
my_list2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
my_list == my_list2

True

La méthode insert() est utilisée pour insérer des éléments dans une liste à une position donnée.

In [14]:
# Insertion de 'New York' à la deuxième position dans liste
liste.insert(1, 'New York')
liste

[19, 'New York', 'SDakar', 7.5, 'neige', ['riz', 'tomate', 'banane'], 5]

# <h1 style="font-size:35px; font-weight:bold; color:red">Tableaux numpy (numpy arrays)</h1>

La différence entre une liste et un tableau numpy est que le dernier contient des données de même type. Un tableau numpy est défini avec la méthode <strong>array()</strong> de la librairie <i>numpy</i>

In [15]:
# Importantion de la librairie numpy

import numpy as np

In [16]:
# Création d'un tableau numpy

tab_nump = np.array([0,1,2,3,4,5,6,7,8,9])
print(tab_nump)
print(type(tab_nump))

[0 1 2 3 4 5 6 7 8 9]
<class 'numpy.ndarray'>

Les listes et les tableaux numpy diffèrent par leur vitesse et leur efficacité de mémoire. Une raison intuitive à cela est que les listes python doivent stocker la valeur de chaque élément ainsi que le type de chaque élément (car les types peuvent différer). Alors que les tableaux numpy n'ont besoin de stocker le type qu'une seule fois, car il est le même pour tous les éléments du tableau.

Vous pouvez effectuer des calculs avec des tableaux numpy.

In [17]:
# Division par 2 de chaque élément de tab_nump

print(type(tab_nump/2))

<class 'numpy.ndarray'>

In [18]:
# Création d'un liste des 10 premiers entiers naturels

first_number = [0,1,2,3,4,5,6,7,8,9]

#first_number/2

In [19]:
# Division par 2 de chaque élément de first_number

first_number = np.array(first_number)

first_number/2

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5])

In [20]:
np.array([i for i in range(10)])/2

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5])

Pour des études scientifiques, le stockage dans des tableaux numpy est préféré car il permet d'effectuer des calculs de manière rapide et efficace.

In [21]:
# Méthode append()

tab_nump = np.append(tab_nump, 10)

tab_nump

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

 L'attribut <strong>shape</strong> donne la dimension (nombre de lignes et nombre de colonnes d'un tableau numpy).

In [22]:
# Attribut shape d'un tableau numpy

tab_nump.shape

(11,)

In [23]:
# Création d'un tableau numpy 2x2

x = np.array([[1,2], [3,4]])
x

array([[1, 2],
       [3, 4]])

In [24]:
# Dimension de x

x.ndim

2

Vous pouvez effectuer des opérations basiques (addition, soustraction, multiplication et division) avec les tableaux numpy.

In [25]:
# Création d'un tableau numpy

y = np.array([[5,6], [7,8]])
y

array([[5, 6],
       [7, 8]])

In [26]:
# x + y
sum_x_y = x + y
sum_x_y

array([[ 6,  8],
       [10, 12]])

In [27]:
# x + y avec la méthide add() de numpy

sum2_x_y = np.add(x, y)
sum2_x_y

array([[ 6,  8],
       [10, 12]])

In [28]:
sum2_x_y == sum_x_y

array([[ True,  True],
       [ True,  True]])

In [29]:
# x - y avec la methode subtract() de numpy

diff_x_y = np.subtract(x, y)
diff_x_y

array([[-4, -4],
       [-4, -4]])

In [30]:
# x * y avec la méthode de multiply() de numpy 
prod_x_y = np.multiply(x, y)
prod_x_y

array([[ 5, 12],
       [21, 32]])

In [31]:
# x / y avec la méthode de divide() de numpy 

div_x_y = np.divide(x, y)
div_x_y

array([[0.2       , 0.33333333],
       [0.42857143, 0.5       ]])

In [32]:
# Création d'un tableau numpy 3x4 (3 lignes et 4 colonnes)

z = np.array([[1,2,3,4], [5,6,7,8], [9, 10, 11, 12]])
z

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [33]:
z.shape

(3, 4)

In [34]:
# première ligne de z
z[0]

array([1, 2, 3, 4])

In [35]:
# première ligne de z
z[0, :]

array([1, 2, 3, 4])

In [36]:
# dernière ligne de z
z[-1]

array([ 9, 10, 11, 12])

In [37]:
# dernière ligne de z
z[-1, :]

array([ 9, 10, 11, 12])

In [38]:
# Deuxième colonnes de z
z[:,1]

array([ 2,  6, 10])

In [39]:
# Dernière colonnes de z
z[:, -1]

array([ 4,  8, 12])

In [40]:
z

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [41]:
# Récupération d'une matrice particulière à partir de z
#[[ 6,  7],
# [10, 11]]

z[1:, 1:3]

array([[ 6,  7],
       [10, 11]])

In [42]:
# Récupérer l'élément de z à la dernière ligne et dernière colonne
z[-1, -1]

12

In [43]:
# Modifier l'élément de z à la dernière ligne et deuxième colonne

z[0, 1] = 1000
z

array([[   1, 1000,    3,    4],
       [   5,    6,    7,    8],
       [   9,   10,   11,   12]])

<h1 style="font-size:35px; font-weight:bold; color:red">Dictionnaires</h1>

Les dictionnaires sont des objets utilisés pour le stockage de paires clés-valeurs. Ils sont indexés par les clés. Chaque clé d'un dictionnaire doit être unique mais les valeurs n'ont pas besoin d'être uniques. Dans python, vous pouvez créer un dictionnaire avec : <strong>{ }</strong>.

In [44]:
# Création d'un dictionnaire qui stocke le prix d'ouverture et le volume moyen

stock_price = {'AAPL':[122.02, 14093522,],
              'GOOG': [1798.10, 1821738],
              'AMZN':[3221.65, 51435858],
              'FB': [285.36, 20847907]}
stock_price

{'AAPL': [122.02, 14093522],
 'GOOG': [1798.1, 1821738],
 'AMZN': [3221.65, 51435858],
 'FB': [285.36, 20847907]}

In [45]:
# Récupération des valeurs de la clé 'FB'

stock_price['FB']

[285.36, 20847907]

In [46]:
# Ajout d'une nouvelle paire clé-valeur dans un dictionnaire

stock_price['TSLA']= [556.44, 52485698]
stock_price

{'AAPL': [122.02, 14093522],
 'GOOG': [1798.1, 1821738],
 'AMZN': [3221.65, 51435858],
 'FB': [285.36, 20847907],
 'TSLA': [556.44, 52485698]}

De la même manière, vous pouvez changer la valeur d'une clé.

In [47]:
# Changement de la valeur d'une clé

stock_price['GOOG'] = [1897.5, 1821738]
stock_price

{'AAPL': [122.02, 14093522],
 'GOOG': [1897.5, 1821738],
 'AMZN': [3221.65, 51435858],
 'FB': [285.36, 20847907],
 'TSLA': [556.44, 52485698]}

Vous pouvez récupérer toutes les clés d'un dictionnaire en utilisant la méthode <strong>keys()</strong>

In [48]:
# Clés d'un dictionnaire

stock_price.keys()

dict_keys(['AAPL', 'GOOG', 'AMZN', 'FB', 'TSLA'])

Vous pouvez récupérer toutes les valeurs d'un dictionnaire en utilisant la méthode <strong>values()</strong>

In [49]:
# Valeurs d'un dictionnaire
stock_price.values()

dict_values([[122.02, 14093522], [1897.5, 1821738], [3221.65, 51435858], [285.36, 20847907], [556.44, 52485698]])

<h1 style="font-size:35px; font-weight:bold; color:red">Dataframe</h1>

La dataframe est la structure de données la plus utilisée en Statistiques et en Data Science. Une dataframe permet de stocker les données en deux dimensions (lignes et colonnes) et rend ainsi l'analyse de données plus aisée.

Pour travailler avec les dataframes dans Python, il est nécessaire d'importer la librairie Pandas

In [50]:
# Importation de Pandas

import pandas as pd

In [51]:
# Création d'une dataframe à partir d'un dictionnaire

df = pd.DataFrame(stock_price)
df

          AAPL       GOOG         AMZN           FB         TSLA
0       122.02     1897.5      3221.65       285.36       556.44
1  14093522.00  1821738.0  51435858.00  20847907.00  52485698.00

En réalité, les vraies variables, qui devraient être les colonnes de la dataframe, sont le prix d'ouverture et le volume moyen d'actions négociées. Pour un meilleur affichage, vous pouvez faire la transposition de la dataframe.

In [52]:
# Transposée de df

df = df.T
df

            0           1
AAPL   122.02  14093522.0
GOOG  1897.50   1821738.0
AMZN  3221.65  51435858.0
FB     285.36  20847907.0
TSLA   556.44  52485698.0

La méthode <strong>raname()</strong> est utilisée pour renommer les colonnes d'une dataframe.

In [53]:
# Renommez les colonnes de df : 'price' pour 0 et 'avg_volume' pour 1

df.columns = ['price', 'avg_volume']
df
      # ou tou simplement:
      # df.rename(columns = {0:'price', 1:'avg_volume'}, inplace = True)

        price  avg_volume
AAPL   122.02  14093522.0
GOOG  1897.50   1821738.0
AMZN  3221.65  51435858.0
FB     285.36  20847907.0
TSLA   556.44  52485698.0

In [54]:
# Colonnes d'une dataframe

df.columns

Index(['price', 'avg_volume'], dtype='object')

In [55]:
# Indices de lignes d'une dataframe

df.index

Index(['AAPL', 'GOOG', 'AMZN', 'FB', 'TSLA'], dtype='object')

Il est possible, et c'est souvent le cas, de créer une dataframe en important un fichier .csv, .json, .xlsx, etc soit à partir d'un ordinateur local ou d'internet. <br><br>
Par exemple, pour importer un fichier .csv, il faut connaître le chemin qui mène à ce fichier dans votre ordinateur ou l'url de ce fichier sur internet. La focntion <strong>read_csv()</strong> de la librairie Pandas permet de faire cette opération

In [57]:
# Importation des données (fichier 'segmentation data.csv')

clients = pd.read_csv('segmentation data.csv')

# Affichage des cinq premières lignes
clients.head()

,ID,Sex,Marital status,Age,Education,Income,Occupation,Settlement size
0,100000001,0,0,67,2,124670,1,2
1,100000002,1,1,22,1,150773,1,2
2,100000003,0,0,49,1,89210,0,0
3,100000004,0,0,45,1,171565,1,1
4,100000005,0,0,53,1,149031,1,1

La méthode <strong>head()</strong> affiche par défaut les cinq premières lignes. Mais vous pouvez choisir d'afficher par exemple les 10 ptremières lignes avec <strong>.head(10)</strong>

In [ ]:
clients.tail()

Pour avoir des informations sur la structure de la dataframe, vous pouvez utiliser la méthode <strong>info()</strong>. Cette méthode donne des informations comme le nombre de lignes et de colonnes de la dataframe, le type des données dans chaque variable (colonne), le nombre de valeurs non-manquantes dans chaque variable, etc.

In [ ]:
# Structure de la dataframe

clients.info()

Supposons que vous vouliez travailler uniquement avec les colonnes 'ID', 'Age', 'Education' et 'Income'. Il s'agira donc de créer une nouvelle dataframe comprenant uniquement ces colonnes.

In [ ]:
# Séléction de plusieurs colonnes

clients_new = clients[['ID', 'Age', 'Education', 'Income']]
clients_new.head()

Vous vous rendez compte que vous n'aviez pas besoin de la colonne 'ID'. Pour la supprimer, il faut utiliser la méthide <strong>drop()</strong>

In [ ]:
# Suppression de la colonne d'une dataframe. Pour supprimer une colonnes il faut toujours préciser axis=1

clients_new = clients_new.drop('ID')

In [ ]:
clients_new

<h1 style="font-size:35px; font-weight:bold; color:red">Les fonctions</h1>

Si vous commencez à copier/coller à plusieurs reprises un extrait de code, alors c'est un signal qu'il faut créer une fonction à partir de ce code; En effet, le fait de copier/coller du code est une grande source d'erreurs. Placer l'extrait du code dans une fonction permet de bien structurer votre programme et d'éviter des erreurs. <br><br>Créer une fonction dans python est une tâche hyper simple. Même si on peut créer des fonctions sans arguments, le plus fréquent est la création de fonction avec un ou plusieurs arguments aisni qu'une sortie?

In [61]:
# Création d'une fonction qui prend deux arguments et retourne leur somme

def somme(x, y):
    return x + y

somme(10,12)

22

In [62]:
# Autres exemple d'uitilisation de la fonctio  somme()

somme('Pa', 'ris')

'Paris'

Les fonctions <strong>lambda</strong> permettent d'écrire des fonctions rapidement et à la volée (en une seule ligne de code) en utilisant le mot-clé <strong>lambda</strong>. Le fomat d'une fonction lambda est :<br> <i>lambda arguments: expression</i>

In [63]:
# Création d'une fonction lambda

somme_lambda = lambda a, b: a + b

somme_lambda(6,8)

14

In [64]:
# Création d'une fonction lambda
squared_lambda = lambda i:i**2

squared_lambda(2)

4

In [4]:
# Consulation de l'aide d'une fonction help()
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols=None, squeeze: 'bool | None' = None, prefix: 'str | lib.NoDefault' = <no_default>, mangle_dupe_cols: 'bool' = True, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace: 'bool' = False, skiprows=None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, skip_blank_lines: 'bool' = True, parse_dates=None, infer_datetime_format: 'bool' = False, keep_date_col: 'bool' = False, date_parser=None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, error_bad_lines: 'bool | None' = None, warn_bad_lines: 'bool | None' = None, on_bad_lines=None, delim_whitespace: 'bool' = False, low_memory=True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions' = None) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, None, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, optional, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.

        .. deprecated:: 1.4.0
            Append ``.squeeze("columns")`` to the call to ``read_csv`` to squeeze
            the data.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...

        .. deprecated:: 1.4.0
           Use a list comprehension on the DataFrame's columns after calling ``read_csv``.
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.

        .. deprecated:: 1.5.0
            Not implemented, and a new argument to specify the pattern for the
            names of duplicated columns will be added instead
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.

        .. versionadded:: 1.5.0

            Support for defaultdict was added. Specify a defaultdict as input where
            the default determines the dtype of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The "pyarrow" engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

            .. versionadded:: 1.5.0
                Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.

        .. versionchanged:: 1.3.0

           ``encoding_errors`` is a new argument. ``encoding`` has no longer an
           influence on how encoding errors are handled.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, optional, default ``None``
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will be dropped from the DataFrame that is
        returned.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    warn_bad_lines : bool, optional, default ``None``
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

            - 'error', raise an Exception when a bad line is encountered.
            - 'warn', raise a warning when a bad line is encountered and skip that line.
            - 'skip', skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0

            - callable, function with signature
              ``(bad_line: list[str]) -> list[str] | None`` that will process a single
              bad line. ``bad_line`` is a list of strings split by the ``sep``.
              If the function returns ``None``, the bad line will be ignored.
              If the function returns a new list of strings with more elements than

AttributeError: 'NoneType' object has no attribute 'to_list'