<h1 style="font-size:30; text-align:center">PARAMETRE STATISTIQUES DE DESCRIPTION D'UN ENSEMBLE DE DONNEES</h1><h6 style="text-align:center">Par Mamadou NDIAYE</h6>

<h1 style="font-size:20; text-align:center; color:red">Importation des outils et des données</h1>

In [6]:
# Importation des librairies

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

In [7]:
# Données se trouvant dans seaborn

# sns.get_dataset_names()

In [8]:
# Import du jeu de données 'tips'

tips_df = sns.load_dataset('tips')
tips_df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
# Structure des données

tips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

<h1 style="font-size:20; text-align:center; color:red">Paramètres statistiques usuels</h1>

In [10]:
# Pourboire moyen

tips_df['tip'].mean()

2.99827868852459

In [11]:
# Pourboire median

tips_df['tip'].median()

2.9

In [12]:
# Pourboire minimum

tips_df['tip'].min()

1.0

In [13]:
# Pourboire maximum

tips_df['tip'].max()

10.0

In [14]:
# Distribution de fréquence de la variable 'tip'

tips_df['tip'].value_counts()

2.00    33
3.00    23
4.00    12
5.00    10
2.50    10
        ..
4.34     1
1.56     1
5.20     1
2.60     1
1.75     1
Name: tip, Length: 123, dtype: int64

In [15]:
# Distribution de fréquence de la variable 'time'

tips_df['time'].value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [16]:
# Distribution de fréquence de la variable 'time'

tips_df['time'].value_counts(normalize=True)

Dinner    0.721311
Lunch     0.278689
Name: time, dtype: float64

In [17]:
# Etendue de la variable 'tip'

tips_df['tip'].max() - tips_df['tip'].min()

9.0

In [18]:
# Variance de la variable 'tip'

tips_df['tip'].var()

1.9144546380624725

In [19]:
# Ecart-type de la variable 'tip'

tips_df['tip'].std()

1.3836381890011826

In [20]:
# Vérification que l'écart-type est bel et bien la racine carrée de la variance

tips_df['tip'].std() == (tips_df['tip'].var())**0.5

True

In [21]:
# Table de statistiques descriptives

tips_df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [22]:
# Quartiles de la variable 'total_bill' : méthode .quantile()

print('1er quartile :', tips_df['total_bill'].quantile(0.25))
print('1er quartile :', tips_df['total_bill'].quantile(0.5))
print('1er quartile :', tips_df['total_bill'].quantile(0.75))

1er quartile : 13.3475
1er quartile : 17.795
1er quartile : 24.127499999999998

In [24]:
# Quartiles de la variable 'total_bill' : fonction quantile() de numpy

print('1er quartile :', np.quantile(tips_df['total_bill'], 0.25))
print('1er quartile :', np.quantile(tips_df['total_bill'], 0.5))
print('1er quartile :', np.quantile(tips_df['total_bill'], 0.75))

1er quartile : 13.3475
1er quartile : 17.795
1er quartile : 24.127499999999998

In [25]:
# Quartiles de la variable 'total_bill' : fonction percentile() de numpy

print('1er quartile :', np.percentile(tips_df['total_bill'], 25))
print('1er quartile :', np.percentile(tips_df['total_bill'], 50))
print('1er quartile :', np.percentile(tips_df['total_bill'], 75))

1er quartile : 13.3475
1er quartile : 17.795
1er quartile : 24.127499999999998

In [30]:
# Tous les quartiles en une seule ligne de code

np.quantile(tips_df['total_bill'], [0.25, 0.5, 0.75])

array([13.3475, 17.795 , 24.1275])

In [31]:
# On peut aussi calculer des quitiles

np.quantile(tips_df['total_bill'], [0.2, 0.4, 0.6, 0.8, 1])

array([12.636, 16.222, 19.818, 26.098, 50.81 ])

In [33]:
# IQR de la variable 'total_bill'

tips_df['total_bill'].quantile(0.75) - tips_df['total_bill'].quantile(0.25)

10.779999999999998

In [34]:
# Importation du module stats

from scipy import stats

# ISR de la variable 'total_bill'

stats.iqr(tips_df['total_bill'])

10.779999999999998

In [35]:
# Table de statistiques descriptives incluant toutes les variables

tips_df.describe(include= 'all')

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

In [36]:
# Dataframe des clients du samedi et du dimanche (filtration)

sat_sun_df = tips_df[(tips_df.day == 'Sat') | (tips_df.day == 'Sun')]

sat_sun_df

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2
242       17.82  1.75    Male     No  Sat  Dinner     2

[163 rows x 7 columns]

In [37]:
# Consommation moyenne et médiane des clients du samedi et du dimanche

sat_sun_df.groupby('day')['total_bill'].agg(['mean', 'median'], )

           mean  median
day
Thur        NaN     NaN
Fri         NaN     NaN
Sat   20.441379   18.24
Sun   21.410000   19.63